*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portada{
    display:flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700)),url(img/portada.jpg);
    border-bottom: 10px solid rgb(59, 56, 56); 
}


 .header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px; 

}

.imagen__header{
    width: 10%;
}

.botones__header{
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.botones__header select{
    width: 30%;
    height: 80%;
    margin-left: 35px;
    color: #fff;
    border: 1px solid #fff;
    background-color: inherit;
    padding: 0 5px;
}

.botones__header button{
    width: 30%;
    height: 80%;
    margin-right: 35px;
    background-color: #e50914;
    color: #fff;
    font-size: large;
    border-radius: 5px;
    border-style: none;
}


        /* Cuerpo */
.cuerpo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #fff;
}

 .titulo{
    width: 100%;
    height: auto;
    padding-top: 5%;
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

 .subtitulo{
    font-size: 19px;
    padding: 2% 0;
}

.subtitulo2{
    font-size: 17px;
    padding:  0 0 2% 0;
}

.email{
    width: 50%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
}

.email input{
    width: 70%;
    font-size: 19px;
    padding-left: 15px;
    border-style: none;
    outline: none;
}

.email input:active{
    border: 1px solid blue;
}

.email button{
    width: 30%;
    background-color: #e50914;
    font-size: 25px;
    color: #fff;
    border-style: none;
}