:root {
    --color-primary: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portada {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    background: var(--color-primary), url(img/portada.jpg);
}
.header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.imagen__header {
    width: 10%;
}

.botones__header {
    width: 20%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.botones__header select i{
    font-size: 1rem;
    color: #fff;
}
.botones__header select {
    width: 80%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
    padding: 0 5px;
    background-color: inherit;
}
.botones__header .lenguages {
    position: relative;
    width: 50%;
    height: 100%;
}
.botones__header .lenguages i {
    color: white;
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: .8rem;
}


.botones__header .lenguages option {
    background-color: #444;
}

.botones__header button {
    width: 30%;
    height: 80%;
    background-color: #e50914;
    color: #fff;
    font-size: large;
    border-radius: 5px;
    border-style: none;
}

/* Cuerpo */
.cuerpo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #fff;
}
.titulo {
    width: 100%;
    height: auto;
    padding-top: 5%;
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.subtitulo {
    font-size: 19px;
    padding: 2% 0;
}

.subtitulo2 {
    font-size: 17px;
    padding: 0 0 2% 0;
}

.email {
    width: 50%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
}

.email input {
    width: 70%;
    font-size: 19px;
    padding-left: 15px;
    border-style: none;
    outline: none;
}

.email input:active {
    border: 1px solid blue;
}

.email button {
    width: 30%;
    background-color: #e50914;
    font-size: 25px;
    color: #fff;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.email button svg {
    width: 20%;
    height: 35%;
    fill: #fff;
}




/* Section Enjoy on your Tv */
/* container */
.enjoy, .download, .watch, .kids, .questions, footer{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 10px solid rgb(59, 56, 56);
    border-bottom: 10px solid rgb(59, 56, 56);
    position: relative;
    z-index: -200;
}
/* title and subtitle */
.enjoy .enjoy__text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    color: #fff;
}
.enjoy .enjoy__text h1 {
    font-size: 3.1rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    text-align: center;
}
.enjoy .enjoy__text h2 {
    padding: 4% 20%;
    font-size: 1.65rem;
    font-weight: 400;
}
/* tv animation */
.enjoy .enjoy__animation {
    position: relative;
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enjoy .enjoy__animation img{
    width: 100%;
    height: 100%;
    position: relative;
}
.enjoy .enjoy__animation .video{    
    height: 100%;
    max-height: 65%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-53%);
    width: 100%;
    z-index: -100;
}

.enjoy .enjoy__animation .video video{
    width: 100%;
    height: 100%;
}



/* Download Section */
.download{
    border-top: 0;
}

.download .animation,.text{
    width: 50%;
    height: 80%;
}
/* .download .animation{
    
} */
.download .animation .img{
    width: 100%;
    height: 100%;
}
.download .animation .img img{
    width: 100%;
    height: 100%;
}

.download .text{
        text-align: center;
}
.download .text h1{
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.download .text h2{
    font-size: 1.6rem;
    font-weight: 400;
}

/* Section Watch */
.watch{
    border-top: 0;
    height: 80vh;
}

.watch .text,.animation{
    width: 50%;
    height: 80%;
}
.watch .text{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watch .text h1{
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    /* border: 1px solid red; */
}
.watch .text h2{
    font-size: 1.6rem;
    font-weight: 400;
}


.watch .animation .img{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.watch .animation .img img{
    width: 100%;
    height: 100%;
}
.watch .animation .img .video{
    position: absolute;
    width: 60%;
    height: 55%;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -100;
}
.watch .animation .img .video video{
    width: 100%;
    height: 100%;
}

/* Kids Section */
.kids{
    height: 80vh;
    border-top: 0;
}

.kids .animation, .text{
    width: 50%;
    height: 80%;
}

.kids .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.kids .text h1{
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.kids .text h2{
    font-size: 1.6rem;
    font-weight: 400;
}

.kids .animation .img{
    width: 100%;
    height: 100%;
}
.kids .animation .img img{
    width: 100%;
    height: 100%;
}


/* Section Questions */
.questions{
    height: fit-content;
    border-top: 0;
}
.questions .container{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questions .container .closed{
    display: none;
}

.questions .container ul{
    width: 75%;
    height: 100%;
    margin: 2em auto;
}
.questions .container ul li{
    background-color: #303030;
    margin-bottom: .5rem;
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    height: 4.5rem;

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* icon */
.questions .container ul li button{
    background-color: inherit;
    border: none;
    color: #fff;
    font-size: 26px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
/* svg icon */
.questions .container ul li button svg{
    width: 30px;
    height: 30px;
    fill: #fff;
    transform: rotate(45deg);
}

.questions .container h1{
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.questions .container h3{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}


/* Footer */
footer{
    border-top: 0;
    height: fit-content;
    z-index: 100;

}

footer .container {
    width: 80%;
    height: 100%;
    color: #737373;
    font-size: 1em;
    padding: 70px 45px;
}
footer .container .question-call, .question-call a{
    font-size: 16px;
    margin-bottom: 30px;
    color: inherit;
}

footer .container ul{
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
}
footer .container ul li, li a{
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container ul li{
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    vertical-align: top;
    width: 20%;
}

footer .container .lang-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
}

footer .container .lang-container .lenguages {
    position: relative;
    width: 20%;
    height: 40%;
}
footer .container .lang-container .lenguages select {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #ffffffb6;
    padding: 0 5px;
    background-color: inherit;
    font-size: 1rem;
}
footer .container .lang-container .lenguages select option{
    background-color: #444;
}
footer .container .lang-container .lenguages i {
    color: white;
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 1rem;
}