/* stylelint-disable no-descending-specificity */
@media (width <= 1280px) {
  body {
    .enjoy,
    .download,
    .watch,
    .kids,
    .questions,
    footer {
      max-width: calc(100% - 4rem);
    }

    .portada {
      .header {
        padding: 1.5rem 2rem;
      }
    }
  }

  @media (width <= 960px) {
    body {
      .enjoy,
      .download,
      .watch,
      .kids,
      .questions,
      footer {
        flex-direction: column;
        min-height: 40rem;
        max-width: 42rem;

        .text {
          width: 100%;
          text-align: center;

          h1 {
            font-size: 2rem;
          }

          p {
            font-size: 1.1rem !important;
          }
        }

        .animation {
          width: 100%;
        }
      }

      .portada {
        .header {
          .logo-header {
            width: 5.5rem;
            height: 1.5rem;
          }
        }

        .cuerpo {
          .titulo {
            font-size: 2rem;
            font-weight: 700;
          }

          .subtitulo {
            font-size: 1.1rem;
          }

          .email {
            .subtitulo2 {
              font-size: 1.1rem;
            }
          }
        }
      }

      .enjoy {
        .text {
          h1,
          h2 {
            padding: 0 1rem;
          }
        }

        .animation {
          flex: 1;
          padding: 0 2rem;
        }
      }

      .download {
        flex-direction: column-reverse;

        .text {
          p {
            font-size: 1.1rem;
          }
        }
      }
    }

    @media (width <= 600px) {
      body {
        .portada {
          min-height: 30rem;
          padding: 7.5rem 0 2rem;

          .header {
            .botones-header {
              .lenguages {
                select {
                  font-size: 0;
                }
              }
            }
          }

          .cuerpo {
            max-width: 100% !important;

            .titulo {
              font-size: 2rem;
            }

            .subtitle {
              font-size: 1.1rem;
            }

            .email {
              .form {
                flex-direction: column;
              }
            }
          }
        }

        .enjoy {
          min-width: 100%;
          min-height: auto;
          padding: 3.5rem 0;

          .animation {
            padding: 0 1rem;
          }
        }

        .download {
          .text {
            padding: 0 1rem;

            h1 {
              font-size: 2rem;
            }
          }

          .animation {
            .download-card {
              .logo {
                height: 3rem;
              }
            }
          }
        }
      }
    }
  }
}
