:root {
    --color-primary: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portada {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    background: var(--color-primary), url(assets/img/portada.jpg);
}
.portada .header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 20px;
}
.portada .header .imagen__header {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.portada .header .imagen__header svg {
    width: 6.7rem;
    height: 2rem;
}

.header .botones__header {
    width: fit-content;
    height: 50%;
    gap: 0 20px;
    display: flex;
    align-items: center;
}

.header .botones__header .lenguages {
    position: relative;
    width: 50%;
    height: 100%;
}
.header .botones__header .lenguages i {
    color: white;
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 0.8rem;
}

.header .botones__header .lenguages select {
    width: fit-content;
    height: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
    padding: 0 20px;
    background-color: inherit;
}

.header .botones__header .lenguages select option {
    background-color: #444;
    text-align: center;
}

.header .botones__header button {
    width: fit-content;
    height: 80%;
    padding: 0 10px;
    background-color: #e50914;
    color: #fff;
    font-size: large;
    border-radius: 5px;
    border-style: none;
}

/* Header Querys */
@media (max-width: 550px) {
    .portada .header {
        margin-top: 10px;
        padding: 0 20px;
    }
    .portada .header .imagen__header svg {
        height: 1.5rem;
        padding-top: 0;
        width: auto;
    }
    .portada .botones__header button {
        font-size: 0.8rem;
    }
    .portada .botones__header .lenguages select {
        padding: 0 0 0 20px;
    }
}

/* Cuerpo */
.cuerpo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.portada .cuerpo .titulo,
.subtitulo,
.subtitulo2,
.email {
    max-width: 640px;
    text-align: center;
    padding: 0 20px;
}
.portada .cuerpo .titulo {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 3.1rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.portada .cuerpo .subtitulo {
    font-size: 19px;
    margin: 20px 0;
}

.portada .cuerpo .subtitulo2 {
    width: 60%;
    font-size: 17px;
}

.portada .cuerpo .email {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.portada .cuerpo .email input {
    width: 100%;
    height: 35%;
    font-size: 19px;
    border-style: none;
    outline: none;
    padding-left: 5%;
}
.portada .cuerpo .email input:active {
    border: 1px solid blue;
}
.portada .cuerpo .email button {
    width: 30%;
    height: 35%;
    background-color: #e50914;
    font-size: 1.3rem;
    padding: 0 10px;
    color: #fff;
    border-style: none;
    text-align: start;
    position: relative;
}
.portada .cuerpo .email button svg {
    position: absolute;
    top: auto;
    right: -10%;
    top: 30%;
    width: 40%;
    height: 40%;
    fill: #fff;
}

/* section containers */
.enjoy,
.download,
.watch,
.kids,
.questions,
footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 10px solid rgb(59, 56, 56);
    border-bottom: 10px solid rgb(59, 56, 56);
    position: relative;
    z-index: -200;
}

/* Section Enjoy on your Tv */
/* title and subtitle */
.enjoy .text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    color: #fff;
}
.enjoy .text h1 {
    font-size: 3.1rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    text-align: center;
}
.enjoy .text h2 {
    padding: 4% 20%;
    font-size: 1.65rem;
    font-weight: 400;
}
/* tv animation */
.enjoy .animation {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enjoy .animation .video__container {
    position: relative;
    width: 100%;
    height: 100%;
}
.enjoy .animation .video__container img {
    width: 100%;
    height: 100%;
}

.enjoy .animation .video__container video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 90%;
    width: 100%;
    height: 100%;
    z-index: -100;
}

/* Download Section */
.download {
    border-top: 0;
    width: 100%;
}

.download .animation,
.text {
    width: 50%;
    height: 80%;
}
.download .animation .img {

    width: 100%;
    height: 100%;
}
.download .animation .img img {
    width: 100%;
    height: 100%;
}

.download .text {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.download .text h1 {
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.download .text h2 {
    font-size: 1.6rem;
    font-weight: 400;
}

/* Section Watch */
.watch {
    border-top: 0;
    height: 80vh;
}

.watch .text,
.animation {
    width: 50%;
    height: 80%;
}
.watch .text {
    padding: 0 30px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.watch .text h1 {
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.watch .text h2 {
    font-size: 1.6rem;
    font-weight: 400;
}

.watch .animation .img {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.watch .animation .img img {
    width: 100%;
    height: 100%;
}
.watch .animation .img .video {
    position: absolute;
    width: 60%;
    height: 55%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}
.watch .animation .img .video video {
    width: 100%;
    height: 100%;
}

/* Kids Section */
.kids {
    height: 80vh;
    border-top: 0;
}

.kids .animation,
.text {
    width: 50%;
    height: 80%;
}

.kids .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.kids .text h1 {
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}
.kids .text h2 {
    font-size: 1.6rem;
    font-weight: 400;
}

.kids .animation .img {
    width: 100%;
    height: 100%;
}
.kids .animation .img img {
    width: 100%;
    height: 100%;
}

/* Section Questions */
.questions {
    height: fit-content;
    border-top: 0;
}
.questions .container {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questions .container .closed {
    display: none;
}

.questions .container ul {
    width: 75%;
    height: 100%;
    margin: 2em auto;
}
.questions .container ul li {
    background-color: #303030;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    height: 4.5rem;

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* icon */
.questions .container ul li button {
    background-color: inherit;
    border: none;
    color: #fff;
    font-size: 26px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
/* svg icon */
.questions .container ul li button svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    transform: rotate(45deg);
}

.questions .container h1 {
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
}

.questions .container h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* questions input */
.questions .container .email {
    width: 90%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.questions .container .email input {
    width: 100%;
    height: 35%;
    font-size: 19px;
    border-style: none;
    outline: none;
}
.questions .container .email input:active {
    border: 1px solid blue;
}
.questions .container .email button {
    width: 30%;
    height: 35%;
    background-color: #e50914;
    font-size: 1.3rem;
    padding: 0 10px;
    color: #fff;
    border-style: none;
    text-align: start;
    position: relative;
}
.questions .container .email button svg {
    position: absolute;
    top: 30%;
    right: -10%;
    width: 40%;
    height: 40%;
    fill: #fff;
}

/* Footer */
footer {
    border-top: 0;
    height: fit-content;
    z-index: 100;
}

footer .container {
    width: 80%;
    height: 100%;
    color: #737373;
    font-size: 1em;
    padding: 70px 45px;
}
footer .container .question-call,
.question-call a {
    font-size: 16px;
    margin-bottom: 30px;
    color: inherit;
}

footer .container ul {
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
}
footer .container ul li,
li a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container ul li {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    vertical-align: top;
    width: 20%;
}

footer .container .lang-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
}

footer .container .lang-container .lenguages {
    position: relative;
    width: 15%;
    height: 40%;
}
footer .container .lang-container .lenguages select {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #ffffffb6;
    padding: 0 5px;
    background-color: inherit;
    font-size: 1rem;
}
footer .container .lang-container .lenguages select option {
    background-color: #444;
}
footer .container .lang-container .lenguages i {
    color: white;
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 1rem;
}



@media (max-width: 950px) {
    .portada .cuerpo .titulo {
        font-size: 2.5rem;
    }
    .portada .cuerpo .email {
        flex-direction: column;
        justify-content: initial;
        height: 20%;
    }
    .portada .cuerpo .email input {
        margin-bottom: 15px;
        width: 80%;
        height: 30%;
    }
    .portada .cuerpo .email button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        padding-right: 40px;
        height: 25%;
        font-size: 0.9rem;
    }
    .portada .cuerpo .email button svg {
        right: 0;
    }

    /* containers section */
    .enjoy,
.download,
.watch,
.kids{
    height: 85vh;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
/* section divs */
.enjoy .text, .animation,
.download .text, .animation,
.watch .text, .animation,
.kids .animation, .text,
.questions div{ 
    height: 100%;
    width: 100%;
}
/* section divs text h2*/
.enjoy .text h1, .download .text h1, .watch .text h1,
.kids .text h1,
.questions div{ 
    font-size: 2.5rem;
}
/* section divs text h2*/
.enjoy .text h2, .download .text h2, .watch .text h2,
.kids .text h2,
.questions div{ 
    font-size: 1.25rem;
}

/* enjoy section */
.enjoy .text{
    padding-top: 10%;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}
.enjoy .animation{
    width: 80%;
    height: 60%;
    position: absolute;
    top: 25%;
    z-index: -100;
}

/* Download section */
.download .text{
    justify-content: flex-start;
    padding-top: 10%;
}
.download .animation{
    min-width: 350px;
    width: 80%;
    height: 50%;
    position: absolute;
    z-index: -100;
}

/* watch section */
.watch .animation{
    display: flex;
    justify-content: center;
}

/* kids section */
.kids .text{
    justify-content: flex-start;
    padding-top: 10%;
}
.kids .animation{
    position: absolute;
    margin-top: 50px;
    width: 80%;
    height: 50%;
    z-index: -100;
}


    @media (max-width: 500px) {
        /* portada section */
        .portada .cuerpo .email input{
            width: 100%;
        }

        /* section divs text h2*/
.enjoy .text h1, .download .text h1, .watch .text h1,
.kids .text h1,
.questions div h1{ 
    font-size: 1.625rem;
}
/* section divs text h2*/
.enjoy .text h2, .download .text h2, .watch .text h2,
.kids .text h2,
.questions div h3{
    font-size: 1.125rem;
}

/* watch section */
.watch{
    justify-content: center;
}
.watch .text{
    height: 30%;
}
    .watch .animation{
    height: 50%;
}


}
}
