@import url("./queries.css");

@font-face {
  font-family: "Netflix Sans";
  src: url("./assets/fonts/NetflixSans_W_Blk.woff2") format("woff2");
  src: url("./assets/fonts/NetflixSans_W_Md.woff2") format("woff2");
  src: url("./assets/fonts/NetflixSans_W_Rg.woff2") format("woff2");
}

:root {
  --color-primary: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
}

body section {
  min-width: 320px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 10px solid rgb(59 56 56);
  background-color: #000;
}

.portada {
  display: flex;
  min-height: 40rem;
  flex-flow: column;
  padding: 8.5rem 0 3rem;
  background: var(--color-primary), url("assets/img/portada.jpg");

  .header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 10rem;

    .logo-header {
      width: 9.25rem;
      height: 2.5;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .botones-header {
      width: fit-content;
      height: 2rem;
      display: flex;
      align-items: center;
      gap: 20px;

      .lenguages {
        border: 1px solid #808080b3;
        display: flex;
        align-items: center;
        height: 2rem;
        border-radius: 0.2rem;
        padding: 0 1rem;

        svg {
          color: #fff;
        }

        select {
          font-size: 1rem;
          width: fit-content;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          border: none;
          background-color: inherit;
          padding: 6px 0;

          &:focus-visible {
            outline: none;
          }
        }

        select option {
          background-color: #444;
          text-align: center;
        }
      }

      button {
        width: fit-content;
        padding: 5px 10px;
        background-color: #e50914;
        color: #fff;
        height: 100%;
        font-size: 1rem;
        border-radius: 5px;
        border-style: none;
      }
    }
  }

  /* Cuerpo */
  .cuerpo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;

    .titulo,
    .subtitulo,
    .subtitulo2,
    .email {
      text-align: center;
      padding: 0 20px;
      width: 100%;
    }

    .titulo {
      text-align: center;
      font-size: 3rem;
      font-weight: 900;
    }

    .subtitulo {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 1rem 0 0;
    }

    .email {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      margin-top: 1.5rem;
      min-width: 12.5rem;
      max-width: 55rem;

      .subtitulo2 {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5rem;
      }

      .form {
        margin: 1.5rem;
        gap: 1.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
          font-size: 1rem;
          font-weight: 500;
          border-radius: 0.25rem;
          background-color: transparent;
          max-width: 23rem;
          width: 100%;
          height: 100%;
          color: inherit;
          padding: 1.5rem 1rem 0.5rem;
          background: #161616b3;
          border: 1px solid #808080b3;

          /* &:active {
            border: 1px solid blue;
          } */
        }

        button {
          width: 13rem;
          height: 100%;
          min-height: 3.5rem;
          background-color: #e50914;
          font-size: 1.5rem;
          font-weight: 500;
          border-radius: 0.25rem;
          padding: 0 10px;
          color: #fff;
          border-style: none;
          text-align: start;
          display: flex;
          align-items: center;
          justify-content: center;
          text-wrap: nowrap;

          svg {
            fill: #fff;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}

/* section containers */
.enjoy,
.download,
.watch,
.kids,
.questions,
footer {
  color: #fff;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 4.5rem 0;
  max-width: calc(85% - 6rem);
}

/* Section Enjoy on your Tv */

/* title and subtitle */
.enjoy {
  .text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 3.1rem;
      font-weight: bold;
      line-height: 1.1;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  /* tv animation */
  .animation {
    width: 50%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 10;
    }

    video {
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 74%;
      height: 100%;
      z-index: 0;
    }
  }
}

/* Download Section */
.download {
  .animation,
  .text {
    width: 50%;
    height: 100%;
  }

  .text {
    h1 {
      font-size: 3.1rem;
      line-height: 1.1;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: 400;
      margin-top: 1rem;
    }
  }

  .animation {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      padding-right: 0.35rem;
    }

    .download-card {
      width: 60%;
      min-width: 17rem;
      padding: 0.5rem 0.75rem;
      border-radius: 0.75rem;
      position: absolute;
      bottom: 8%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #000;
      border: 2px solid #808080b3;

      .logo {
        height: 4.5rem;
      }

      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0.5rem;
        width: 60%;

        h1 {
          font-size: 1rem;
          font-weight: 800;
          margin: 0%;
        }

        p {
          font-size: 0.85rem;
          font-weight: 400;
          color: #0071eb;
          margin: 0%;
        }
      }

      .gif {
        width: 3.5rem;
        height: 3rem;
      }
    }
  }
}

/* Section Watch */
.watch {
  border-top: 0;
  height: 80vh;

  .text,
  .animation {
    width: 50%;
    height: 80%;
  }

  .text {
    padding: 0 30px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text h1 {
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }

  .text h2 {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .animation .img {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  .animation .img img {
    width: 100%;
    height: 100%;
  }

  .animation .img .video {
    position: absolute;
    width: 60%;
    height: 55%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
  }

  .animation .img .video video {
    width: 100%;
    height: 100%;
  }
}

/* Kids Section */
.kids {
  height: 80vh;
  border-top: 0;

  .animation,
  .text {
    width: 50%;
    height: 80%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
  }

  .text h1 {
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
  }

  .text h2 {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .animation .img {
    width: 100%;
    height: 100%;
  }

  .animation .img img {
    width: 100%;
    height: 100%;
  }
}

/* Section Questions */
.questions {
  height: fit-content;
  border-top: 0;

  .container {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container h1 {
    font-size: 3.1rem;
    line-height: 1.1;
    margin: 1rem 0;
    text-align: center;
  }

  .container ul {
    width: 75%;
    height: 100%;
  }

  .container ul li {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    height: auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 100%;
  }

  /* question container */
  .container ul li button {
    background-color: #303030;
    border: none;
    color: #fff;
    font-size: 26px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
  }

  /* hiden div */
  .container .closed {
    display: none;
    font-size: 26px;
    background-color: #303030;
    margin-top: 0.3rem;
    padding: 1.2rem;
  }

  /* svg icon */
  .container ul li button svg {
    width: 1.1em;
    height: 1.1em;
    fill: #fff;
    transform: rotate(45deg);
  }

  /* questions input */
  .container .email {
    width: 90%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
  }

  .container .email .input {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .container .email h3 {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0 2%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .container .email .input input {
    width: 100%;
    max-height: 50px;
    height: 100%;
    font-size: 19px;
    border-style: none;
    outline: none;
    text-align: center;
  }

  .container .email input:active {
    border: 1px solid blue;
  }

  .container .email button {
    width: 30%;
    height: 70%;
    background-color: #e50914;
    font-size: 1.3rem;
    padding: 0 10px;
    color: #fff;
    border-style: none;
    text-align: start;
    position: relative;
  }

  .container .email button svg {
    position: absolute;
    top: 30%;
    right: -10%;
    width: 40%;
    height: 40%;
    fill: #fff;
  }
}

/* Footer */
footer {
  border-top: 0;
  height: fit-content;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
    color: #737373;
    font-size: 1em;
    padding: 70px 45px;
  }

  .container .phone,
  .phone a {
    font-size: 1rem;
    margin-bottom: 30px;
    color: inherit;
    width: 100%;
    min-width: 260px;
  }

  .container .phone {
    width: 100%;
    padding: 0 70px;
    max-width: 1000px;
  }

  .container ul {
    width: 100%;
    max-width: 1000px;
    min-width: 260px;
    padding: 40px 70px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  .container ul li,
  li a {
    list-style-type: none;
    text-decoration: none;
    text-align: start;
    color: inherit;
    font-size: 13px;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
  }

  .container .lang-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
    min-width: 260px;
    height: 20vh;
    padding-left: 70px;
  }

  .container .lang-container .lenguages {
    width: auto;
    position: relative;
    height: 40%;
  }

  .container .lang-container .lenguages select {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #333;
    padding: 12px 26px 12px 50px;
    background-color: inherit;
    font-size: 1rem;
  }

  .container .lang-container .lenguages select option {
    background-color: #444;
  }

  .container .lang-container .lenguages i {
    color: white;
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 1rem;
  }
}

@media (width <= 950px) {
  /* section divs */
  .animation,
  .text,
  .questions div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  /* section divs text h2 */
  .enjoy .text h1,
  .download .text h1,
  .watch .text h1,
  .kids .text h1,
  .questions div {
    font-size: 2.5rem;
  }

  /* section divs text h2 */
  .enjoy .text h2,
  .download .text h2,
  .watch .text h2,
  .kids .text h2,
  .questions div {
    font-size: 1.25rem;
  }

  /* watch section */
  .watch .animation {
    display: flex;
    justify-content: center;
  }

  /* kids section */
  .kids .text {
    justify-content: flex-start;
    padding-top: 10%;
  }

  .kids .animation {
    position: absolute;
    margin-top: 50px;
    width: 80%;
    height: 50%;
    z-index: -100;
  }

  /* Question section */
  .questions .container h1 {
    font-size: 2.5rem;
  }

  .questions .container ul {
    width: 90%;
  }

  .questions .container ul li button {
    font-size: 20px;
  }

  .questions .container ul li .closed {
    font-size: 20px;
  }

  .questions .container .email {
    height: 9rem;
  }

  .questions .container .email .input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .questions .container .email .input button {
    font-size: 1rem;
    width: auto;
    height: auto;
    flex: 1 1 auto;
    padding: 0.5rem 1rem;
    padding-right: 2rem;
    text-align: center;
  }

  /* footer section */
  footer .container .phone {
    padding: 0 20px;
  }

  footer .container ul {
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  footer .container .lang-container {
    padding-left: 20px;
  }

  /* Header Querys */
  @media (width <= 550px) {
    .portada .header {
      margin-top: 10px;
      padding: 0 20px;
    }

    .portada .header .logo-header svg {
      height: 1.5rem;
      padding-top: 0;
      width: auto;
    }

    .portada .botones-header button {
      font-size: 0.8rem;
    }

    .portada .botones-header .lenguages select {
      padding: 0 0 0 20px;
    }

    @media (width <= 500px) {
      /* section divs text h1 */
      .enjoy .text h1,
      .download .text h1,
      .watch .text h1,
      .kids .text h1,
      .questions .container h1 {
        font-size: 1.625rem;
      }

      /* section divs text h2 */
      .enjoy .text h2,
      .download .text h2,
      .watch .text h2,
      .kids .text h2,
      .questions .container h3 {
        font-size: 1.125rem;
      }

      /* watch section */
      .watch {
        justify-content: center;
      }

      .watch .text {
        height: 30%;
      }

      .watch .animation {
        height: 50%;
      }

      /* Question section */
      .questions .container ul {
        width: 100%;
      }

      .questions .container .email {
        height: 10rem;
      }

      /* footer section */
      footer .container ul {
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
      }

      footer .container .phone {
        width: 100%;
        padding: 0;
      }

      footer .container .lang-container {
        padding-left: 0;
      }
    }
  }
}
